$colorPrimary: #58c18d;
$colorSecond: #35495e; 
$colorGray: #ccc;

$_colorPrimary: #007bff;
$_colorPrimaryHover: #0569d4;
$_colorDanger: #dc3545;
$_colorDangerHover: #c33d4a;
$_colorInfo: #17a2b8;
$_colorInfoHover: #2096a9;
$_colorSuccess: #28a745;
$_colorSuccessHover: #2c9243;
$_colorWarning: #ffc107;
$_colorWarningHover: #e8b007;
$_colorDefault: #343a40;
$_colorDefaultHover: #47515a;

$borderElementsForm: 1px solid $colorGray;
$borderRadiusElementsForm: 5px;

$heightInputs: 30px;

$standardFont: 14px;
$iconsFont: 10px;